<footer class="footer d-flex align-items-center" id="con" style="min-height: 150px; color: white; background: #1A1A1A;">
    <div class="container ">
        <div class="row  text-left ">
            <div class="col-xl-7 my-1">
                Copyright © 2017 - 2020 Academy by NAPA TEAM. All rights reserved
            </div>
            <div class="col-xl-2 email text-xl-right my-1">
                <a href="info@ude.uz" style="text-decoration: none; color: white;" name="Email">
                    info@napa.uz </a>
            </div>
            <div class="col-xl-3 nomber text-xl-right my-1">
                <a href="tel:+998 71 200-06-10" style="color: white; text-decoration: none;">
                    +998 71 200-06-10</a>
            </div>
        </div>
    </div>
</footer>