<header class="main_header">

    <nav class="navbar navbar-expand-lg navbar-dark  w-100 py-0 py-md-2" style="margin: 12px 0">
        <div class="container ">
            <a class="navbar-brand" href="{% url 'dev_com:index'}%">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">О нас <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#product">Наши продукты</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#why_we">Почему мы</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#partner">Наши партнеры</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#contact">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>